body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  #container {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px 20px 40px 20px;
    border-radius: 8px;
    text-align: center;
    position: relative;
  }
  
  h1 {
    color: #333;
  }
  
  #task-input {
    padding: 10px;
    margin: 10px 0;
    width: 60%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
  }
  
  button {
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    max-height: 300px;
    overflow-y: auto;
  }
  
  ul::-webkit-scrollbar {
    width: 12px;
  }
  
  ul::-webkit-scrollbar-thumb {
    background-color: #aaaaaa;
    border-radius: 8px;
  }
  
  ul::-webkit-scrollbar-track {
    background-color: #e0e0e0;
    border-radius: 8px;
  }
  
  .task {
    position: relative;
    background-color: #f9f9f9;
    margin: 5px 0;
    padding: 10px 35px 10px 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .task:hover {
    background-color: #e0e0e0;
  }
  
  .done {
    text-decoration: line-through;
    color: #888;
  }
  
  .close {
    position: absolute;
    top: 50%;
    right: 4px;
    transform: translateY(-50%);
    background-color: #636363;
    color: #fff;
    border: none;
    padding: 4px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s;
}
  
  .close:hover {
    background-color: #d32f2f;
  }

  #clear-all-btn {
    padding: 10px;
    background-color: #636363;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    display: none;
    margin-top: 10px;
    margin-bottom: 10px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: background-color 0.3s;
  }
  
  #clear-all-btn:hover {
    background-color: #d32f2f;
  }
  
  
  